/* overal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  fot-family: 'Open Sans', sans-serif;

}

.container {
  width: 80%;
  margin: auto;
}

:root {
  --primary :#fff;
  --dark : #004d99;
  --light :#20b7c9;
  --light-blue :#99e6ff;
  --light-green : #1affd1;
  --purple :#b366ff;
  --head :#636ef6;
  --black:black;
}


/* header style */
header {
  background-image: linear-gradient(to right, var(--head), var(--light));

}

.header-menu {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  align-items: center;
  padding: 10px ;
}

.left-part {
  text-align: center;
}


.list-group-horizental {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
}

.list-group-horizental a {
  min-width: 75px;
}

.header-menu a {
  text-decoration-line: none;
}

.header-menu a,p {
  color: var(--primary);
}

.side-part p:first-child {
 text-decoration: overline;
 font-size: 2.2rem;
}

.side-part p:nth-child(2) {
  text-decoration: underline;
  font-size: 2.2rem;
}

.list-item {
  font-size: 1.8rem
}


.right-part {
  display: grid;
  grid-template-columns: 40px 170px 40px;
  justify-content: center;
  align-items: center;
}

.sign-up-link {
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 12px 25px;
  font-size: 1.4rem;
  text-align: center;
}


/* section style */

section {
  background-image: url("./images/top-graphic.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 37%;

}

.top-section {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--primary);
}

.top-section-container {
  display: grid;
  grid-template-columns: 700px 580px;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
}

.left-section-part h1 {
  font-size: 3rem
}

.left-section-part p {
  font-size: 1.8rem;
  line-height: 2rem
}

.right-section-part {
  text-align: center;
}

.right-section-part img {
    height: 400px;
  }

.top-section-link {
  display: grid;
  grid-template-columns: 250px 40px 250px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.start {
  text-align: center;
  position: relative;
  top: 21px;
}

.top-section-link a , .start svg{
  display: inline-block;
}

.top-section-link a {
  width: 220px;
  padding: 15px;
  border-radius: 4px;
  text-decoration-line: none;
  font-size: 1.5rem
}

.top-section-link p {
    color: var(--light);
    text-align: center;
}

.start-link {
    background-color: var(--primary);
    color: var(--black);
    top: 30px;
}

.learn-link {
    text-align: center;
  }

.learn-link a{
    border: 1.3px solid var(--primary);
    color: var(--primary);
  }



.top-section-img {
    height: 385px;
    background-image: url("./images/top-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 50px;
  }


  /* MIDDLE SECTION STYLE */

  .middle-section {
    margin-top: 150px;
    background-image: url("./images/side.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  .top-middle-section {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  }

  .middle-section-icon {
    text-decoration-line: none;
    text-align: center;
  }

  .middle-section-icon p {
    padding-top: 15px;
    color: #008080;
    font-size: .9rem;
  }

  .middle-section-icon img {
    width: 60px;
    height: 60px;
  }

  .bottom-middle-section {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 700px 650px;
    justify-content: space-evenly;

}

  .middle-section-logo , .mql {
    height: 650px
}


  .first {
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 8s;
    animation-name: exam;
    animation-duration: 8s;
}

  .movable-polygon {
    width: 120px;
    height: 120px;
    display: inline-block;
}

.animation-pause {
  animation-play-state: paused;
}

  .hidden-comment {
    position: relative;
    top: -104px;
    left: 8px;
    width: 350px;
    display: grid;
    grid-template-columns: 175px 175px;
    opacity: 0; 
    transition: all 1s;
}

  .hidden-paragraph {
    background-color: var(--light);
    font-size: 1.3rem;
    height: 100%;
    padding: 18px;
    border-radius: 50px 0 0 50px; 
    text-align: center;
}

  .hidden-background {
    width: 100%;
    background-image: url("./images/justdial.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 5px 5px 0; 
}

  .item-1:hover .hidden-comment {
    opacity: 1;
    z-index: 1
}

  .item-2:hover .hidden-comment {
    opacity: 1;
    z-index: 1
}

  .item-3:hover .hidden-comment {
   opacity: 1;
   z-index: 1
}

  .item-4:hover .hidden-comment {
   opacity: 1;
   z-index: 1
}

  .item-5:hover .hidden-comment {
   opacity: 1;
   z-index: 1
}

  .item-6:hover .hidden-comment {
   opacity: 1;
   z-index: 1
}

  .item-1 {
   position: relative;
   top: -705px;
   left: 265px;
   -webkit-animation-name: first; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
   animation-name: first;
   animation-duration: 30s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

    /* Safari 4.0 - 8.0 */
@-webkit-keyframes first {
    0%   { left:265px; top:-705px;}
  16.66%  { left:-5px; top:-560px;}
  33.32%  { left:-5px; top:-257px;}
  50%  { left:265px; top:-112px;}
  66.65%  { left:535px; top:-250px;}
  83.3% { left:533px; top:-563px;}
  100%  { left:265px; top:-705px;}
}

/* Standard syntax */
@keyframes first {
  0%   { left:265px; top:-705px;}
  16.66%  { left:-5px; top:-560px;}
  33.32%  { left:-5px; top:-257px;}
  50%  { left:265px; top:-112px;}
  66.65%  { left:535px; top:-250px;}
  83.3% { left:533px; top:-563px;}
  100%  { left:265px; top:-705px;}
}

  .item-2 {
   position: relative;
   top: -565px;
   left: -128px;
   -webkit-animation-name: second; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
   animation-name: second;
   animation-duration: 30s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

   /* Safari 4.0 - 8.0 */
@-webkit-keyframes second {
  0%   { left:-128px; top:-565px;}
  16.66%  { left:-128px; top:-260px;}
  33.32%  { left:140px; top:-110px;}
  50%  { left:410px; top:-260px;}
  66.65%  { left:410px; top:-560px;}
  83.3% { left:140px; top:-710px;}
  100%  { left:-128px; top:-565px;}

}

/* Standard syntax */
@keyframes second {
  0%   { left:-128px; top:-565px;}
  16.66%  { left:-128px; top:-260px;}
  33.32%  { left:140px; top:-110px;}
  50%  { left:410px; top:-260px;}
  66.65%  { left:410px; top:-560px;}
  83.3% { left:140px; top:-710px;}
  100%  { left:-128px; top:-565px;}
}

  .item-3 {
    position: relative;
    top: -255px;
    left: 287px;
    -webkit-animation-name: third; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
    animation-name: third;
    animation-duration: 30s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

     /* Safari 4.0 - 8.0 */
@-webkit-keyframes third {

    0%   { left:287px; top:-255px;}
  16.66%  { left:287px; top:-560px;}
  33.32%  { left:17px; top:-708px;}
  50%  { left:-252px; top:-565px;}
  66.65%  { left:-252px; top:-255px;}
  83.3% { left:17px; top:-110px;}
  100%  { left:287px; top:-255px;}

}

/* Standard syntax */
@keyframes third {
  0%   { left:287px; top:-255px;}
  16.66%  { left:287px; top:-560px;}
  33.32%  { left:17px; top:-708px;}
  50%  { left:-252px; top:-565px;}
  66.65%  { left:-252px; top:-255px;}
  83.3% { left:17px; top:-110px;}
  100%  { left:287px; top:-255px;}
}

  .item-4 {
    position: relative;
    top: -300px;
    left: -307px;
    -webkit-animation-name: forth; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 25s; /* Safari 4.0 - 8.0 */
    animation-name: forth;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

     /* Safari 4.0 - 8.0 */
@-webkit-keyframes forth {
  0%   { left:-307px; top:-300px;}
  16.66%  { left:-107px; top:-190px;}
  33.32%  { left:92px; top:-300px;}
  50%  { left:92px; top:-520px;}
  66.65%  { left:-107px; top:-630px;}
  83.3% { left:-307px; top:-520px;}
  100%  { left:-307px; top:-300px;}
}
 
/* Standard syntax */
@keyframes forth {
  0%   { left:-307px; top:-300px;}
  16.66%  { left:-107px; top:-190px;}
  33.32%  { left:92px; top:-300px;}
  50%  { left:92px; top:-520px;}
  66.65%  { left:-107px; top:-630px;}
  83.3% { left:-307px; top:-520px;}
  100%  { left:-307px; top:-300px;}
}

  .item-5 {
    position: relative;
    top: -519px;
    left: -31px;
    -webkit-animation-name: fifth; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 25s; /* Safari 4.0 - 8.0 */
    animation-name: fifth;
    animation-duration: 25s;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

       /* Safari 4.0 - 8.0 */
@-webkit-keyframes fifth {

   0%   { left:-31px; top:-519px;}
  16.66%  { left:-231px; top:-630px;}
  33.32%  { left:-431px; top:-520px;}
  50%  { left:-431px; top:-300px;}
  66.65%  { left:-231px; top:-190px;}
  83.3% { left:-31px; top:-300px;}
  100%  { left:-31px; top:-519px;}

}

/* Standard syntax */
@keyframes fifth {
  0%   { left:-31px; top:-519px;}
  16.66%  { left:-231px; top:-630px;}
  33.32%  { left:-431px; top:-520px;}
  50%  { left:-431px; top:-300px;}
  66.65%  { left:-231px; top:-190px;}
  83.3% { left:-31px; top:-300px;}
  100%  { left:-31px; top:-519px;}
}

  .item-6 {
    position: relative;
    top: -430px;
    left: 265px;
    -webkit-animation-name: sixth; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    animation-name: sixth;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

         /* Safari 4.0 - 8.0 */
@-webkit-keyframes sixth {

  0%   { left:265px; top:-430px;}
  16.66%  { left:395px; top:-500px;}
  33.32%  { left:395px; top:-640px;}
  50%  { left:265px; top:-710px;}
  66.65%  { left:135px; top:-640px;}
  83.3% { left:135px; top:-500px;}
  100%  { left:265px; top:-430px;}
}


/* Standard syntax */
@keyframes sixth {
  0%   { left:265px; top:-430px;}
  16.66%  { left:395px; top:-500px;}
  33.32%  { left:395px; top:-640px;}
  50%  { left:265px; top:-710px;}
  66.65%  { left:135px; top:-640px;}
  83.3% { left:135px; top:-500px;}
  100%  { left:265px; top:-430px;}
}

  .mql {
    padding-top: 90px;
  }

  .mql a {
    display: inline-block;
    width: 220px;
    padding: 15px;
    border-radius: 4px;
    text-decoration-line: none;
    font-size: 1.5rem;
    color: var(--dark);
    border: 1.7px solid var(--dark);
    text-align: center;
}

  .mql p {
    color: var(--dark);
    margin-bottom: 30px;
    font-size: 2.5rem;

}

  /* bottom section style */

  .bottom-section {
    margin-top: 100px;
    background-image: url(".png");
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 60px;

}

  .bottom-section-comment {
    text-align: center;
}

  .bottom-section-comment p {
    font-size: 2.5rem;
    color: var(--dark);
}

  .bottom-section-slide p {
    font-size: 6rem;
    color: var(--light);
    cursor: pointer;
}

.left-slide p:hover , .right-slide p:hover {
  color: var(--light-blue);
}

  .bottom-section-slide {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 60px auto 60px;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.slides {
  width: 1200px;
  overflow: hidden;
}

  .laracast {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    transition: all 2s;
}

  .lara-comment {
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
}


  .laracast p {
    color:var(--dark);
    font-size: 1.5rem;
}

  /* footer style */

  footer {
    position: relative;
    background-image: linear-gradient(to right, var(--head), var(--light));
}

  .footer-content {
    padding: 50px;
    display: grid;
    grid-template-columns: 370px 360px 180px;
    grid-gap: 40px;
}

  .web-rights p{
    font-size: 1.3rem;
    line-height: 2rem;
}

  .footer-link {
    display: grid;
    grid-template-columns: 180px 180px;
    align-items: center;
}

  .footer-list li {
    list-style: none;
    font-size: 1.2rem;
    padding: 5px;
    width: 170px;
}

  .footer-list a {
    text-decoration-line: none;
    color: var(--primary);
}

  .footer-icon a {
    padding: 5px;
    font-size: 4rem;
}

  .footer-list li:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}

  .footer-icon a:first-child{
    color: var(--head);
  }

  .footer-icon a:last-child {
    color: #0033cc;
  }

  footer svg {
    position: absolute;
    right: 0;
    bottom: 0;
  }


  /* price page style sheet */

  section {
    position: relative;
  }

  .price-top-section {
    background-image: url("./images/graphic.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .course-price {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: space-around;
    align-items: center; 
  }

  .different-course {
    border-radius: 8px;
    height: 400px
  }

  .first-course , .forth-course {
    border: 2px solid var(--light-blue);
  }

  .second-course {
    border: 2px solid var(--light-green);
  }

  .second-course h1 {
    background-color: var(--light-green);
  }

  .third-course {
    border: 2px solid var(--purple);
  }

  .third-course h1 {
    background-color: var(--purple);
  }

  .topic p {
    font-size: 3rem;
    color: #004d66;
    text-align: center;
    padding: 50px
  }

  .course-topic h1 {
    text-align: center;
    font-size: 1rem;
    color: var(--primary);
    padding: 8px
  }

  .first-course h1 , .forth-course h1 {
    background-color: var(--light-blue);
  }

  .course-condition {
    margin-top: 50px
  }

  .course-condition p {
    color: #0033cc;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid var(--black);
    width: 80%; 
    margin: auto;
  }

  .course-condition p:last-child {
    border-bottom: none;
  } 

  .course-order {
    position: relative;
    top: 35px;
    text-align: center;
   }

  .course-order button {
    text-align: center;
    padding: 15px 25px;
    border-radius: 6px;
    background-color: var(--primary);
    box-shadow: none;
    margin: auto;
  }

  .first-course button , .forth-course button {
    border: 2px solid var(--light-blue);
  }

  .second-course button {
    border: 2px solid var(--light-green);
  }

  .third-course button {
    border: 2px solid var(--purple);
  }

  .first-course .course-svg  ,.forth-course .course-svg  {
    background-color: #ccf2ff
  }

  .second-course .course-svg  {
    background-color:  #80ffe5
  }

  .third-course .course-svg  {
    background-color: #d9b3ff
  }

  .course-svg svg {
    position: relative;
    top: 40px
  }

  .section-svg {
    right: 0;
    position: absolute;
    bottom:  100px;
  }

  /* bottom section style sheet */


  .discount-topic h1 {
    text-align: center;
    font-size: 2.5rem;
  }

  .price-discount {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
  }

  .discount-condition p, .discount-condition h2 {
    color: #004d66;
    padding-top: 15px
  }

  .discount-condition p {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .discount-condition {
    margin-bottom: 40px
  }

  .price-top-section-content {
    position: relative;
    top: -215px;
    padding-bottom: 70px;
  }

  /* sign up page style sheet */

  .sign-up {
    background-image: url("./images/mac-air.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30%;
    position: relative;
  }

  .sign-up-form {
    color: #004d66; 
    position: relative;
    top: -125px;
    z-index: 1;
    overflow: hidden;
  }

  .sign-up-svg {
    margin-top: 70px;
  }

  .sign-up-header h1 {
    max-width: 1000px;
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
  }

  .subscription,.signing-info {
    padding: 30px;
    width: 600px;
    border: 1px solid var(--black);
    border-top: 2px solid var(--black);
    border-radius: 0 0 10px 10px;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 30px;

  }

   .subscription select {
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--primary);
    border: 1px solid var(--black); 
  }

   .subscription input {
    padding: 10px;
    border: 1px solid var(--black);
   }

   #label,label {
    display: block;
    margin-bottom: 10px
   }

   #confirm {
    margin-left: -7px;
    box-shadow: none;
    width: 25%;
    border-radius: 0 5px 5px 0;
   }

   #text {
    width: 75%;
    border-radius: 5px 0 0 5px;
   }

   .signing-info {
    margin-bottom: 110px;
    background-color: var(--primary);
   }

   .signing-info h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px
   }

   .signing-info input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--black);
   }

    .card-adding {
      display: grid;
      grid-template-columns: 120px 380px;
      justify-content: center;
      align-items: center;
      margin-top: 15px
    }

    .card-adding button {
      background-color: #99e6ff;
      padding: 10px;
      border-radius: 5px;
      font-size: 1rem;
      color: var(--primary);
      border:none; 
    }

    .card-adding p {
      color: var(--dark);
      font-size: .8rem;
      margin-left: 15px
    }

    .signing-btn {
      display: grid;
      grid-template-columns: 100%;
      align-items: center;
      position: relative;
      top: 65px
    }

    .signing-btn button {
      border-radius: 5px;
      padding: 10px;
      background-color: var(--primary);
      border: 1px solid var(--black);
    }

    .line {
      position: absolute;
      bottom: 320px;
    }



    /* sign in style sheet */

    .sign-in-content {
      display: grid;
      grid-template-columns: 300px 700px;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px
    }

    .sign-in-content a {
      color: var(--dark);
      text-decoration-line: none;
      display: block;
      padding: 15px 15px 0 20px;
      font-size: 1.1rem
    }

    .profile {
      border-bottom: 1px solid var(--black);
      padding: 20px
    }

    .billing {
      padding: 20px
    }
  

/* styling for smaller device */

@media only screen and (max-width: 1400px) {

  .course-price {
    grid-template-columns: 250px 250px;
    justify-content: space-evenly;
  }

  .first-course , .second-course {
    margin-bottom: 80px 
  }

  .price-top-section {
    height: 1200px
  }

  .sign-up-header h1 {
    font-size: 2rem;
    width: 800px;
  }

  .top-section-container {
    grid-template-columns: auto;
    padding-top: 100px
  }

  .left-section-part {
    text-align: center;
  }

  .bottom-middle-section {
    grid-template-columns: 700px;
  }

  .mql {
    height: 480px;
    text-align: center;
  }

  .middle-section-logo {
    padding-left: 30px
  }

  .slides {
    width: 600px;
  }


}

@media only screen and (max-width: 1200px) {


  .topic p {
    font-size: 2rem;
  }

  .price-discount {
    grid-template-columns: 720px;
  }

  .list-item {
    font-size: 1.5rem;
  }

  .center-part {
    text-align: center;
  }

  .footer-content {
    grid-template-columns: 370px 360px 180px;
    grid-gap: 0;
    align-items: center;
    width: 90%;
    padding: 20px;
  }

  .footer-link {
    grid-template-columns: 130px 180px;
    padding-left: 40px;
  }

  .sign-in-content {
    grid-template-columns: auto;
  }

  footer svg {
    display: none;
  }


  .profile-content {
    text-align: center;
  }

   .signing-info h1 , .signing-info label , .subscription label{
    font-size: 1.5rem
  }

   .section-svg {
    bottom: 120px;
  }

  .sign-up {
    background-image: none;
  }

  .sign-up-header h1 {
    width: 500px;
  }


}


@media only screen and (max-width: 800px) {



   .list-group-horizental {
    grid-template-columns: 55px 50px 60px;
  }

   .right-part {
    grid-template-columns: 40px 150px 40px;
    justify-content: flex-start;
   }

   .right-part a {
    font-size: 1.2rem
   }

   .side-part p:first-child , .side-part p:nth-child(2) {
    font-size: 1.5rem
   }

   .middle-section-logo {
    display: none;
   }

   .mql {
    padding-top: 40px;
   }

   .price-discount {
    grid-template-columns: 450px;
  }

  .course-price {
    grid-template-columns: 190px 190px;
  }

  .course-svg svg {
    width: 190px;
  }

  .list-item {
    font-size: 1.2rem;
  }

  .profile-content , .signing-info , .subscription {
    width: 395px;
  }

  .card-adding {
    grid-template-columns: auto;
  }

  .card-adding button {
    margin-bottom: 20px
  }

  .card-adding p {
    text-align: center;
  }

  .topic p {
    text-align: left;
    padding-left: 115px
  }

  .sign-up-header h1 {
    text-align: left;
    padding-left: 105px;
    width: 400px;
    font-size: 1.6rem;
  }

  .top-section-comment h1 {
    font-size: 2rem;
    width: 500px;
    margin: auto;
  }

  .top-section-comment p {
    font-size: 1.3rem;
    width: 450px;
    margin: auto;
  }

  .top-section-link a {
    width: 180px;
 }

 

}


